<div class="banner" style="background-image: url('https://www.dailydot.com/wp-content/uploads/45d/6c/3994856e703d9f08c3d9ae96da892f6b.jpg');">
  <div class="banner-content">
      <h1>Pull-It</h1>
    <div class="hero-banner-btn">
      <div class="circle">
        <%= link_to "#", id: "geolocate" do %>
        <div class="roll">
          <div class="sheetHolder">
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
          </div>
          <div class="paper">
            <div class="tube"></div>
          </div>
          <div class="paperHang">
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
          </div>
        </div>
      </div>
      <% end %>
      <%= link_to "Login as a host", dashboard_path, class:"btn btn-primary", id:"host-btn" %>
    </div>
  </div>
</div>

<div class="home-services">
  <div class="services-container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 service-content">
        <p><%= image_tag 'service1.png' %></p>
        <h2>When you need it</h2>
        <p>In case of emergency when you're not at home</p>
      </div>
      <div class="col-xs-12 col-sm-4 service-content">
        <p><%= image_tag 'service2.png' %></p>
        <h2>Clean toilets</h2>
        <p>All our hosts are commited to kee their toilets clean and shiny/p>
      </div>
      <div class="col-xs-12 col-sm-4 service-content">
        <p><%= image_tag 'service3.png' %></p>
        <h2>Anywhere you are</h2>
        <p>wherever you are, at any time of day and night, we find a toilet for you less than 800 meters away</p>
      </div>
    </div>
  </div>
</div>

<div class="testimonal-wrap-margin">
  <div class="testimonal-wrap">
    <%= image_tag "testimonials-1.jpg" %>
    <div class="testimonal-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, impedit facilis omnis excepturi enim possimus qui architecto officiis autem aut laudantium cupiditate quibusdam.
    </div>

    <p class="testimonal-author">
      John Doe, professional pooper
    </p>
  </div>

  <div class="testimonal-wrap">
    <%= image_tag "testimonials-2.jpg" %>
    <div class="testimonal-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, impedit facilis omnis excepturi enim possimus qui architecto officiis autem aut laudantium cupiditate quibusdam.
    </div>
    <p class="testimonal-author">
      John Doe, CEO poopland
    </p>
  </div>
  <div class="testimonal-wrap">
    <%= image_tag "testimonials-3.jpg" %>
    <div class="testimonal-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, impedit facilis omnis excepturi enim possimus qui architecto officiis autem aut laudantium cupiditate quibusdam.
    </div>
    <p class="testimonal-author">
      John poe, CEO Company
    </p>
  </div>
</div>
