<div class="banner" style="background-image: url('http://doktor.is/wp-content/uploads/2005/06/leki-604x400.jpg');">
  <div class="banner-content">
      <h1>Poop it</h1>
    <div class="hero-banner-btn">
      <div class="circle">
        <%= link_to "#", id: "geolocate" do %>
        <div class="roll">
          <div class="sheetHolder">
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
          </div>
          <div class="paper">
            <div class="tube"></div>
          </div>
          <div class="paperHang">
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
          </div>
        </div>
      </div>
      <% end %>
      <%= link_to "Login as a host", dashboard_path, class:"btn btn-primary", id:"host-btn" %>
    </div>
  </div>
</div>

<div>
</div>

<div class="testimonal-wrap-margin">
  <div class="testimonal-wrap">
    <%= image_tag "testimonials-1.jpg" %>
    <div class="testimonal-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, impedit facilis omnis excepturi enim possimus qui architecto officiis autem aut laudantium cupiditate quibusdam.
    </div>

    <p class="testimonal-author">
      John Doe, professional pooper
    </p>
  </div>

  <div class="testimonal-wrap">
    <%= image_tag "testimonials-2.jpg" %>
    <div class="testimonal-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, impedit facilis omnis excepturi enim possimus qui architecto officiis autem aut laudantium cupiditate quibusdam.
    </div>
    <p class="testimonal-author">
      John Doe, CEO poopland
    </p>
  </div>
  <div class="testimonal-wrap">
    <%= image_tag "testimonials-3.jpg" %>
    <div class="testimonal-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, impedit facilis omnis excepturi enim possimus qui architecto officiis autem aut laudantium cupiditate quibusdam.
    </div>
    <p class="testimonal-author">
      John poe, CEO Company
    </p>
  </div>
</div>
