<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://edge.alluremedia.com.au/m/l/2012/10/ToiletPaper.jpg');">
  <div class="banner-content">
      <h1>Poop it</h1>
      <p>simplify the way we poop</p>
    <div class="hero-banner-btn">
        <%= link_to "Find a seat", toilets_path, class:"btn btn-primary find" %>  <%= link_to "Host a seater", new_toilet_path, class:"btn btn-primary seater" %>
    </div>
  </div>
</div>

<div>
</div>

<div class="testimonal-wrap-margin">
  <div class="testimonal-wrap">
    <%= image_tag "testimonials-1.jpg" %>
    <div class="testimonal-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, impedit facilis omnis excepturi enim possimus qui architecto officiis autem aut laudantium cupiditate quibusdam.
    </div>

    <p class="testimonal-author">
      John Doe, professional pooper
    </p>
  </div>

  <div class="testimonal-wrap">
    <%= image_tag "testimonials-2.jpg" %>
    <div class="testimonal-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, impedit facilis omnis excepturi enim possimus qui architecto officiis autem aut laudantium cupiditate quibusdam.
    </div>
    <p class="testimonal-author">
      John Doe, CEO poopland
    </p>
  </div>
  <div class="testimonal-wrap">
    <%= image_tag "testimonials-3.jpg" %>
    <div class="testimonal-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, impedit facilis omnis excepturi enim possimus qui architecto officiis autem aut laudantium cupiditate quibusdam.
    </div>
    <p class="testimonal-author">
      John poe, CEO Company
    </p>
  </div>
</div>

