<div class="banner" style="background-image: url('https://www.dailydot.com/wp-content/uploads/45d/6c/3994856e703d9f08c3d9ae96da892f6b.jpg');">
  <div class="banner-content">
      <h1>Pull-It</h1>
    <div class="hero-banner-btn">
      <div class="circle">
        <%= link_to "#", id: "geolocate" do %>
        <div class="roll">
          <div class="sheetHolder">
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
          </div>
          <div class="paper">
            <div class="tube"></div>
          </div>
          <div class="paperHang">
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
            <div class="sheet"></div>
          </div>
        </div>
      </div>
      <% end %>
      <%= link_to "Login as a host", dashboard_path, class:"btn btn-primary", id:"host-btn" %>
    </div>
  </div>
</div>

<div class="home-services">
  <div class="services-container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 service-content">
        <p><%= image_tag 'service1.png' %></p>
        <h2>When you need it</h2>
        <p>In case of emergency when you're not at home</p>
      </div>
      <div class="col-xs-12 col-sm-4 service-content">
        <p><%= image_tag 'service2.png' %></p>
        <h2>Clean toilets</h2>
        <p>All our hosts are commited to keep their toilets clean and shiny</p>
      </div>
      <div class="col-xs-12 col-sm-4 service-content">
        <p><%= image_tag 'service3.png' %></p>
        <h2>Anywhere you are</h2>
        <p>Wherever you are, at any time of day and night, we find a toilet for you less than 800 meters away</p>
      </div>
    </div>
  </div>
</div>

<div class="home-description">
  <div class="description-container">
    <div class="description-picture">
      <%= image_tag "logo_out.png" %>
    </div>
    <div class="description-content">
      <h2>Why Poopt-it?</h2>
      <p>It started as a simple idea: An urgent need is something that everybody knows. We all have been in the situation where it happens when you are far from friendly facilities. There's still the option to walk in a restaurant, but not all of them will accept it, and you take the risk to end up in a dirty, unsafe toilet. That is why we’re working to make restroom facilitation safer and more accessible, helping people find clean and luxurious bathrooms quickly and affordably. Our hosts garantee the cleanliness of their toilet spots, as well as the constant resupply of toilet paper, soap, and the maintenance of all the facilities. <br><br>
      <strong>Wait no more, pull it now!</strong></p>
    </div>
  </div>
</div>

<div class="testimonal-wrap-margin">
  <div class="testimonal-wrap">
    <%= image_tag "testimonials-1.jpg" %>
    <div class="testimonal-content">
      <p>I have a very small bladder and need to pee all the f... time. Thanks to poop-it I can find a clean toilet to pee anytime, any where. It's always clean, there's always soap, I love it.</p>
    </div>

    <p class="testimonal-author">
      Jane Pee, small bladder
    </p>
  </div>

  <div class="testimonal-wrap">
    <%= image_tag "testimonials-2.jpg" %>
    <div class="testimonal-content">
      <p>My wife always yells at me after I poop because it smells too bad in the toilets. So I treat myself with a nice, stylish toilet with Poop-it, so I can poop in peace.</p>
    </div>
    <p class="testimonal-author">
      John Fart, scared of his wife
    </p>
  </div>
  <div class="testimonal-wrap">
    <%= image_tag "testimonials-3.jpg" %>
    <div class="testimonal-content">
      <p>After every meal, it's automatic, I need to poop. But I have a very busy life, I'm always on the roads, so thanks to poop-it, I can always find a nice toilet with magasines, relax and poop-it.</p>
    </div>
    <p class="testimonal-author">
      Kate Poop, pooper in chief
    </p>
  </div>
</div>
