<div class="new-toilet-container">
<h1>Create your toilet spot</h1>
  <div class="row">
    <div class= "col-sm-3 offset-sm-3 form-toilet">
      <%= simple_form_for(@toilet) do |f| %>

        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :price %>
        <%= f.input :picture %>
        <%= f.input :picture_cache, as: :hidden %>
        <%= f.submit class: 'btn btn-primary form-group' %>
      <% end %>
    </div>
  </div>
</div>
