<div class="wrapper-dashboard">
  <div class="container-dashboard">
    <h1>Owner Dashboard</h1>
    <% @toilets.each do |toilet| %>
      <div class="message">
        <%= cl_image_tag toilet.picture, height: 50, width: 50, crop: :fill, class: "avatar-large" %>
        <div class="message-name">
          <h3><%= toilet.title %></h3>
          <p>created as of: <%= toilet.created_at %> </p>
        </div>
        <div class="message-body">
          <p><strong><%= toilet.location %> </strong></p>
          <p>
            <%= toilet.description %>
          </p>
        </div>
        <div class="message-status">
          <p class="status pending"><%= toilet.price %> </p>
        </div>
        <div class="message-links">
          <p class="status pending"><%= link_to "update", edit_toilet_path(toilet) %> </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
