<div class="grid-wrapper">
    <div class="grid-container">
      <div class="card toilet-pic" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path @toilet.picture %>')">
        <p><%= @toilet.title %></p>
        <p><strong><%= @toilet.price %>nis</strong></p>
      </div>
      <div class="go-btn">
        <%= link_to "Go now!", toilet_bookings_path(@toilet), method: :post %>
      </div>
      <div class="grid-description">
        <p><strong>Description: </strong><%= @toilet.description %></p>
        <p><strong>Location: </strong><%= @toilet.location %></p>
      </div>
    </div>
    <div class="back-btn">
      <%= link_to "Back to search", toilets_path %>
    </div>
  </div>
</div>
